{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-md mx-auto py-12 px-6 bg-slate-800 text-center rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-white mb-6">Log in</h1>

    <form class="space-y-6" method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renders form fields for username and password -->

        <div>
            <button type="submit" class="w-full py-3 px-6 bg-sky-600 text-white text-lg font-semibold rounded-lg shadow-md hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-opacity-50">
                Log in
            </button>
        </div>
    </form>

    <div class="mt-6">
        <p class="text-white text-sm">Admin?
            <a href="{% url 'core:admin_login' %}" class="text-blue-400 underline hover:text-blue-500">
                Log in here
            </a>
        </p>
    </div>
</div>
{% endblock %}
